<%- include("partials_files/head.ejs") %>

  <div class="me">
    <h1>About Me</h1>
    <img class="profile" src="images/me2.jpeg" alt="my profile">
  </div>
    

  <div class="container1">
    <div class="content-section">
      <div class="card">
        <img src="images/LinkedIn.png" class="qr-image" alt="linkedIn-QR">
        <h5 class="title">LinkedIn Profile</h5>
        <p class="text">This is my LinkedIn profile QR . You can either scan it with your phone or click on below
          button. </p>
        <a href="https://www.linkedin.com/in/aditya-nagtilak-b8402822b?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
          class="btn btn-primary" target="_blank">LinkedIn</a>
      </div>
      <div class="card">
        <img src="images/GitHub_Profile.png" class="qr-image" alt="github-QR">
        <h5 class="title">GitHub Profile</h5>
        <p class="text">This is my GitHub profile QR . You can either scan it with your phone or click on below
          button.</p>
        <a href="https://github.com/adityanagtilak" class="btn btn-primary" target="_blank">GitHub</a>
      </div>
      <div class="card">
        <img src="images/Personal_Blog_Website.png" class="qr-image" alt="perdonal_blog-QR">
        <h5 class="title">Personal Blog</h5>
        <p class="text">This is my Personal Blog Website QR . You can either scan it with your phone or click on
          below button.</p>
        <a href="https://github.com/adityanagtilak/Personal-blog-website" class="btn btn-primary"
          target="_blank">Personal Blog</a>
      </div>
      <div class="card">
        <img src="images/Certificates.png" class="qr-image" alt="certificates-QR">
        <h5 class="title">Certificates</h5>
        <p class="text">This is my Certificates QR . You can either scan it with your phone or click on below
          button.</p>
        <a href="https://drive.google.com/drive/folders/1Hf1gs0YKPUPi9DkVyNGoHcQIlulFWg_t" class="btn btn-primary"
          target="_blank">Certificates</a>
      </div>
    </div>

  </div>

  <%- include("partials_files/foot.ejs") %>