<%- include("partials_files/head.ejs") %>

  <body>
    <div class="container1">
      <div class="upper-div">
        <div class="violet">
          <div class="indigo">
            <div class="blue">
              <div class="green">
                <div class="yellow">
                  <div class="orange">
                    <div class="red">
                      <div>
                        <img class="hero-img" src="/images/me.jpeg" alt="hero-image">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="below-div">
        <h1>I'm Aditya <span>Nagtilak</span></h1>
        <h2 id="hero-h2">A full-stack web developer and javascript enthusiast.</h2>
        <p class="para">A budding enthusiastic Web Developer, passionate about JavaScript development. Offerring
          expertise in Full-stack development with experiance in studying and implementing multiple live projects.
          Seeking to advance the growing tech career as a Full-stack web developer.</p>
        <a href="/Personal_Blog_Website/Program_files/views/Aditya_Nagtilak.pdf" class="btn btn-primary" type="button" download="Aditya_Nagtilak.pdf">Download CV
        </a>
      </div>
    </div>
  </body>

  <%- include("partials_files/foot.ejs") %>